*/obj/*
*/bin/*
.vs/*
.vs/
*/lib/*

bin
Merged
connectionstrings.json
Shared/obj
*/obj
Analyzer/obj
Analyzer/bin
bin
Shared/bin
Shared/obj
Catalog/obj
Catalog/bin

*/out/*
*/node_modules/*
.vs/ePubScan/v15/.suo
ePubAnalyzer.Analyzer/Secrets.cs
Catalog.NG/.angular/cache/*
*.local
Catalog.Next/catalog/.next/*
