<td title="{{book.readRemark}}">
    <i title="{{book.readRemark}}" *ngIf="readStates.Reading.matches(book.readStatus)"  style="color: blue;" class="bi bi-book-half"></i>
    <i title="{{book.readRemark}}" *ngIf="readStates.ToRead.matches(book.readStatus)" style="color: grey;" class="bi bi-book"></i>
    <i title="{{book.readRemark}}" *ngIf="readStates.Read.matches(book.readStatus)" style="color: green;" class="bi bi-book-fill"></i>
    <i title="{{book.readRemark}}" *ngIf="readStates.WontRead.matches(book.readStatus)"  style="color: red;" class="bi bi-x"></i>
    <i title="{{book.readRemark}}" *ngIf="readStates.Unknown.matches(book.readStatus)" style="color: lightslategrey;" class="bi bi-patch-question"></i>
</td>
<td><a [routerLink]="['/book', book.bookID]">{{book.bookID}}</a></td>
<td data-bind="text: author">{{book.author}}</td>
<td data-bind="text: title">{{book.title}}</td>
<td data-bind="text: nrOfPages">{{book.nrOfPages}}</td>
<!-- <tr *ngIf="book && book.description" data-bind="visible: description, attr: { state: readStatus, bookidx: bookID}" class="book-description">
    <td colspan="5"><div>{{book.description}}</div></td>
</tr> -->