<div data-bind="if: Collection">

	<div class="alert alert-info" role="alert" style="margin-top: 10px; ">
		<span>Number of books: </span><span data-bind="text: NumberOfBooks"></span>
	</div>

	<table class="table table-striped" style="margin-top: 20px">
		<colgroup>
			<col width="50"/>
			<col width="50"/>
			<col width="200"/>
			<col width="*"/>
			<col width="20"/>
		</colgroup>
		<thead class="thead-dark">
			<tr> 
				<th title="Status">S</th>
				<th>ID</th>
				<th>Author</th>
				<th>Title</th>
				<th>Pages</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: Collection">
			<tr class="rowclick" data-bind="attr: { state: readStatus}">
				<td data-bind="attr: {title: readRemark}">
					<i data-bind="attr: { title: readStatus }, visible: isReading" style="color: blue;" class="bi bi-book-half"></i>
					<i data-bind="attr: { title: readStatus }, visible: isToRead" style="color: grey;" class="bi bi-book"></i>
					<i data-bind="attr: { title: readStatus }, visible: isRead" style="color: green;" class="bi bi-book-fill"></i>
					<i data-bind="attr: { title: readStatus }, visible: isNotGoingToRead" style="color: red;" class="bi bi-x"></i>
					<i data-bind="attr: { title: readStatus }, visible: isUnknown" style="color: lightslategrey;" class="bi bi-patch-question"></i>
				</td>
				<td><a class="directlink" data-bind="attr: {href: '#Detail/' + bookID() }, text: bookID"></a></td>
				<td data-bind="text: author"></td>
				<td data-bind="text: title"></td>
				<td data-bind="text: nrOfPages"></td>
			</tr>
			<tr data-bind="visible: description" class="book-description">
				<td colspan="5" data-bind="text: description"></td>
			</tr>
		</tbody>
	</table>
</div>