<nav class="navbar navbar-dark bg-dark">
    <div class="header">
      <a class="navbar-brand" href="#">📚 Book catalog</a>
      <form class="form-inline my-2 my-lg-0 search-area">
        <input class="form-control mr-sm-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="filter-buttons" id="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active btn btn-secondary" routerLink="books/">All books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-success" [routerLink]="['books', readStates.Read.display]">Already read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-primary" [routerLink]="['books', readStates.Reading.display]">Currently reading</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-info" [routerLink]="['books', readStates.ToRead.display]">To read next</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-danger" [routerLink]="['books', readStates.WontRead.display]">Won't be read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-light text-dark" routerLink="books/Newly Added/">Newly added</a>
          </li>
        </ul>
        
    </div>
  </nav>