<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active btn btn-secondary" routerLink="books/">All books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-success" [routerLink]="['books', readStates.Read.display]">Already read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-primary" [routerLink]="['books', readStates.Reading.display]">Currently reading</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-info" [routerLink]="['books', readStates.ToRead.display]">To read next</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-danger" [routerLink]="['books', readStates.WontRead.display]">Won't be read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active btn btn-light text-dark" routerLink="books/Newly Added/">Newly added</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </nav>