<div *ngIf="!book">
    <ngb-alert type="info" [dismissible]="false">
        Loading book details
    </ngb-alert>
</div>

<div *ngIf="book">    	
    
    <div class="jumbotron">
        <h1 class="display-4">{{book.title}}<br/><sub>{{book.author}}</sub></h1>       
        <a class="btn btn-dark" role="button" (click)="goBack()">Back</a> 
    </div>
    
    <app-book-detail-general [book]="book"></app-book-detail-general>
    <app-book-detail-readstatus [book]="book"></app-book-detail-readstatus>
    <app-book-detail-availabilitystatus [book]="book"></app-book-detail-availabilitystatus>    
</div>

