<div *ngIf="!book">
    <div class="alert alert-info" role="alert">
        Loading book details
    </div>
</div>

<div *ngIf="book">    	
    
    <div class="jumbotron">
        <h1 class="display-4">{{book.title}}<br/><sub>{{book.author}}</sub></h1>       
    </div>
    <div class="buttons">
        <a class="btn btn-dark" role="button" (click)="goBack()">Back</a> 
        <app-book-readstatus-updater [(book)]="book"></app-book-readstatus-updater>
    </div>
    
    <app-book-detail-general [book]="book"></app-book-detail-general>
    <app-book-detail-readstatus [book]="book"></app-book-detail-readstatus>
    <app-book-detail-availabilitystatus [book]="book"></app-book-detail-availabilitystatus>    
</div>

