import { Injectable } from '@angular/core';
// Place this file as secrets.ts and set the correct books url
@Injectable({ providedIn: 'root' })
export class Secrets {
  public getBooksUrl() : string { return 'http://localhost/api/'; }
}