<?xml version="1.0" encoding="utf-8"?>
<!-- Custom config to run from IISs -->
<configuration>
	<system.webServer>
		<handlers>
			<!-- When deploying to IIS we will use our own running values, use this as example (install functions runtime and the corresponding .NET hosting bundle -->
			<remove name="aspNetCore" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="C:\Azure-Functions.3.0\3.0.15417\64bit\Microsoft.Azure.WebJobs.Script.WebHost.exe" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="AzureWebJobsStorage" value="UseDevelopmentStorage=true" />
			</environmentVariables>
		</aspNetCore>
		<!-- Always let the content from the page slide through, this prevents issues when the state is not 200 but we want to have the content -->
		<httpErrors existingResponse="PassThrough" />
		<!-- Allow all headers and origins to be served, otherwise IIS will refure to function, update to reflect running values-->
		<!-- Only required if the headers were not set by the ResultObject Helper-->
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>