<!-- Modal -->
<div class="modal fade" id="modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{modalToShow.title}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{modalToShow.message}}
        </div>
        <div class="modal-footer">
            <button type="button" *ngFor="let button of modalToShow.buttons" (click)="performAction(button)" class="btn btn-{{button.buttonType}}">{{button.text}}</button>
        </div>
        </div>
    </div>
</div>