<div *ngIf="!books || books.length <= 0">
    <div class="alert alert-info" role="alert">
        Loading booklist
    </div>
</div>



<div *ngIf="books && books.length > 0">
    <div class="alert alert-success" role="alert">
        {{books.length}} books found <a class="reload" (click)="reloadBookList()"><i class="bi bi-arrow-down-up">Reload</i></a>
    </div>
    
	<div class="accordion" id="booklist">
		<div class="accordion-item" book-list-item id="book-panel-{{book.bookID}}" *ngFor="let book of books;let i = index" [(book)]="books[i]" [attr.state]="book.readStatus" [attr.bookidx]="book.bookID"></div>
	</div>

</div>
