@model System.Collections.Generic.IEnumerable<Models.Book>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Boooks</h1>
Amount: @Model.Count()
<table>
@foreach(var b in Model)
{
	<tr>
		<td>@b.Identfier</td>
		<td>@b.Name</td>
	</tr>
}

</table>